@using GestionFastFood.Models.ViewModels;
@model UserViewModel


<h2>Editar Usuario</h2>
<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Rol"></label>
        <input asp-for="Rol" />
        <span asp-validation-for="Rol"></span>
    </div>
    <button type="submit">Guardar Cambios</button>
</form>
